#currenpage-navbar-font{
    color: gray;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-style: initial;
}

#otherpages-navbar-font{
    color: gray;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    font-style: initial;
}

.common-font{
    font-family: 'Open Sans', sans-serif;
}

form{
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    color: gray;
    width: 20%;
    align-content: center;
    align-self: center;
}

img{
    width: 480px;
    height: 300px;
}