#currenpage-navbar-font{
    color: gray;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-style: initial;
}

#otherpages-navbar-font{
    color: gray;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    font-style: initial;
}

#transparent-navbar{
    background: rgba(255,255,255,.2);
}

.online-resturent{
    font-size: 200px;
    align-content: center;
    text-align: center;
    color: white;
}

.common-font{
    font-family: 'Open Sans', sans-serif;
}

.bgimg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)) ,url('bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 75%;
}