#currenpage-navbar-font{
    color: gray;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-style: initial;
}

#otherpages-navbar-font{
    color: gray;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    font-style: initial;
}